.userControls {
  position: fixed;
  bottom: 6.5vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.userControlsRow {
  margin-left: 12px;
  margin-right: 12px;
  background-color: rgb(56, 63, 63);
  color: rgb(209, 194, 148);
  padding: 2vh;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  cursor: pointer;

  & :hover {
    color: rgb(153, 141, 85);
  }

  border: 1px solid gray;
}

li:hover {
  color: #504821 !important;
}

.pageNumber {
  margin-left: 12px;
  margin-right: 12px;
}

.userImage {
  border-radius: 25px;
  height: 30px;
  width: auto;
}
