.app {
  background-image: url("../rainforest.jpeg");
  background-size: 100% auto;
}

.addNewPageButton {
  position: absolute;
  margin: 10vh;
}

.app {
  text-align: center;
  min-height: 100vh;
  background-color: rgba(#dadada, 0.2);

  .container {
    display: flex;
  }
  .row {
    justify-content: center;
  }

  .title {
    padding-top: 30px;
    padding-bottom: 30px;
    font-family: "Yuji Boku";
  }
}

.alert {
  width: 30%;
  position: fixed !important;
  margin-left: auto;
  margin-right: auto;
  bottom: 0;
  bottom: 0px;
  right: 15px;
}

.spinningIcon {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}
