//paper page styling
$paper-color: #f1ede9;
$paper-line: #94acd4;

.page {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  min-width: 0;
  align-items: stretch;
  flex-wrap: wrap;
}

//page scrollbars
.page {
  /* Foreground, Background */
  scrollbar-color: #999 #333;
}
// .page::-webkit-scrollbar {
//   width: 10px; /* Mostly for vertical scrollbars */
//   height: 10px; /* Mostly for horizontal scrollbars */
// }
.page::-webkit-scrollbar-thumb {
  /* Foreground */
  background: #999;
  border-radius: 20px;
}
.page::-webkit-scrollbar-track {
  /* Background */
  border-radius: 20px;

  background: #333;
}

.pageTextarea {
  background: transparent;
  color: #fff;
  resize: none;
  border: 0 none;
  width: 100%;
  font-size: 5em;
  outline: none;
  height: 100%;
  position: absolute;
}
.addImagesActionButtonsInnerContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.addAdditionalFeatureButton {
  cursor: pointer;
  border-radius: 26px;
  background: rgb(224, 223, 223) !important;
  border: 2px solid rgb(221, 198, 136);
  color: rgb(66, 65, 63) !important;
  padding: 8px;
  font-family: 'Source Sans Pro', "Courier New", Courier, monospace;
  margin: 10px;
}

.bookbinding {
  background: rgb(69, 56, 27);
  width: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 695px;
}



.paper {
  border: 2px solid rgb(216, 216, 216);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  color: black;
  margin: 20px;
  height: 695px;
  width: 520px;
  padding: 30px;
  padding-left: 50px;
  background: repeating-linear-gradient(
    $paper-color,
    $paper-color 31px,
    $paper-line 31px,
    $paper-line 32px
  );
  font-family: "Yuji Boku";
  line-height: 32px;
  outline: 0;
  font-size: 22px;
  text-align: left;
  word-wrap: break-word;
  overflow: auto;
  position: relative;
}

.firstPaper {
  margin-right: 0px;
}

.secondPaper {
  margin-left: 0px;
}

@media only screen and (max-width: 890px) {

  .bookbinding{
    background: transparent;
    display: none;
  }

  .paper{
    margin: 20px!important;
  }


}


.text-content {
  white-space: pre-wrap;
}
.text-content:focus {
  outline: 0px solid transparent;
}

.hiddenInput {
  visibility: hidden;
  width: 0;
  height: 0;
  position: absolute;
}
