.app{
    text-align: center;
    font-family: 'Yuji Boku';
    background-image: url(./uncharted_poster.jpg);
    min-height: 100vh;


    .title{
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .user{
        border-radius: 4px;
        padding: 5px;
        cursor: pointer;
        position: absolute;
        top: 40px;
        right: 40px;

        &:hover{
            text-decoration: underline;
        }
    }
}
