.authBg{
    // background-image: url(./uncharted_poster.jpg);

    background-image: url(../uncharted_poster.jpg),linear-gradient(#eb01a5, #d13531);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

